.filters {
  background-image: url('../../images/fundo.gif');
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 65%;
  margin-left: 5px;
  position:absolute;
  width: 25%;
}


.cards {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 380px;
  margin-right: 20px;
  margin-top: 20px;
}

.imgHi {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 300px;
  width: 100%;
}

.search {
  border-radius: 5px;
  margin-bottom: 6px;
  margin-left: 10%;
  padding: 6px;
  width: 75.5%;
}

.filteroption {
  border-radius: 5px;
  margin-bottom: 6px;
  margin-left: 10%;
  padding: 6px;
  width: 80%;
}

.filteroptionLast {
  border-radius: 5px;
  margin-bottom: 6px;
  margin-left: 10%;
  padding: 6px;
  width: 75.5%;
}

.button {
  background-image: linear-gradient(to bottom, rgb(113, 6, 252), rgb(155, 114, 250));
  border: solid 1px white;
  border-radius: 5px;
  color: aliceblue;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 30%;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.button:hover {
  box-shadow: 0 7px 11px 0 rgb(252, 253, 253), 0 17px 50px 0 rgb(93, 131, 180);
  cursor: pointer;
}

.titleFilter {
  font-size: 20px;
  text-align: center;
}

/* Para desktops / telas grandes */
@media only screen and (min-width: 1025px)
{
  .search {
    font-size:large;
    width: 75.5%;
  }
  
  .filteroption {
    font-size:large;
    width: 80%;
  }
  
  .filteroptionLast {
    font-size:large;
    width: 75.5%;
  }

  .buttons {
    font-size: larger;
    margin-top: 15px;
  }
}

/* Para telas pequena / laptops */
@media only screen and (max-width: 1024px)
{
  .filters {
    height: 35%;
    margin-left: 3px;
    position:absolute;
    width: 35%;
  }
  
  .search {
    font-size:large;
    width: 75.5%;
  }
  
  .filteroption {
    font-size:large;
    width: 80%;
  }
  
  .filteroptionLast {
    font-size:large;
    width: 75.5%;
  }

  .buttons {
    font-size: larger;
    margin-top: 15px;
  }
}

/* Para Tablet */
@media only screen and (max-width: 768px)
{
  .filters {
    height: 40%;
    margin-left: 3px;
    position:absolute;
    width: 35%;
  }

  .search {
    font-size:large;
    width: 75.5%;
  }
  
  .filteroption {
    font-size:large;
    width: 80%;
  }
  
  .filteroptionLast {
    font-size:large;
    width: 75.5%;
  }

  .buttons {
    font-size: larger;
    margin-top: 15px;
  }
}

/* Para mobile */
@media only screen and (max-width: 600px)
{
  .filters {
    height: 50%;
    margin-left: 3px;
    position:absolute;
    width: 40%;
  }

  .search {
    font-size:large;
    width: 75.5%;
  }
  
  .filteroption {
    font-size:large;
    width: 83%;
  }
  
  .filteroptionLast {
    font-size:large;
    width: 75.5%;
  }

  .buttons {
    font-size: larger;
    margin-right: 6px;
    margin-top: 15px;
    width: 110%;
  }
}