.filters {
  background-image: url('../../images/fundo.gif');
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 75%;
  margin-left: 5px;
  position:absolute;
  width: 25%;
}

.cards {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 400px;
  margin-right: 20px;
  margin-top: 20px;
}

.imgHi {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 300px;
  width: 100%;
}

.search {
  border-radius: 5px;
  margin-bottom: 6px;
  margin-left: 10%;
  padding: 6px;
  width: 75.5%;
}

.filteroption {
  border-radius: 5px;
  margin-bottom: 6px;
  margin-left: 10%;
  padding: 6px;
  width: 80%;
}

.filteroptionLast {
  border-radius: 5px;
  margin-bottom: 6px;
  margin-left: 10%;
  padding: 6px;
  width: 75.5%;
}

.button {
  background-image: linear-gradient(to bottom, rgb(113, 6, 252), rgb(155, 114, 250));
  border: solid 1px white;
  border-radius: 5px;
  color: aliceblue;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 30%;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.button:hover {
  box-shadow: 0 7px 11px 0 rgb(252, 253, 253), 0 17px 50px 0 rgb(93, 131, 180);
  cursor: pointer;
}

.titleFilter {
  color: white;
  font-size: 20px;
  text-align: center;
}

/* Para desktops / telas grandes */
@media only screen and (min-width: 1025px)
{
  .filters {
    height: 55%;
    margin-left: 3px;
    position:absolute;
    width: 28%;
  }

  .imgHi {
    height: 300px;
    width: 100%;
  }

  .search {
    font-size:large;
    margin-left: 6%;
    width: 85%;
  }
  
  .filteroption {
    font-size:large;
    margin-left: 6%;
    width: 89%;
  }
  
  .filteroptionLast {
    font-size:large;
    margin-left: 6%;
    width: 85%;
  }

  .button {
    font-size: 20px;
    margin-top: 15px;
    width: 38%;
  }
}

/* Para telas pequena / laptops */
@media only screen and (max-width: 1024px)
{
  
  .filters {
    height: 65%;
    margin-left: 3px;
    position:absolute;
    width: 35%;
  }
  
  .titleFilter {
    font-size: 25px;
  }

  .search {
    font-size:large;
    margin-bottom: 20px;
    margin-left: 3%;
    width: 90%;
  }
  
  .filteroption {
    font-size:large;
    margin-bottom: 20px;
    margin-left: 3%;
    width: 95%;
  }
  
  .filteroptionLast {
    font-size:large;
    margin-bottom: 20px;
    margin-left: 3%;
    width: 90%;
  }

  .button {
    font-size: larger;
    height: 45px;
    margin-top: 15px;
    width: 40%;
  }
}

/* Para Tablet */
@media only screen and (max-width: 768px)
{
  .cards {
    margin-left: 300px;
  }

  .filters {
    height: 40%;
    margin-left: 3px;
    position:absolute;
    width: 35%;
  }

  .imgHi {
    height: 250px;
    width: 100%;
  }

  .search {
    font-size:large;
    margin-left: 3%;
    width: 90%;
  }
  
  .filteroption {
    font-size:large;
    margin-left: 3%;
    width: 95%;
  }
  
  .filteroptionLast {
    font-size:large;
    margin-left: 3%;
    width: 90%;
  }

  .button {
    font-size: 20px;
    height: 50px;
    margin-top: 15px;
  }
}

/* Para mobile */
@media only screen and (max-width: 600px)
{
  .filters {
    height: 55%;
    margin-left: 3px;
    position:absolute;
    width: 40%;
  }

  .cards {
    margin-left: 230px;
    margin-right: 10px;
    margin-top: 20px;
  }

  .imgHi {
    height: 100px;
    width: 100%;
  }

  .search {
    font-size:large;
    margin-left: 2%;
    width: 90%;
  }
  
  .filteroption {
    font-size:large;
    margin-left: 2%;
    width: 97%;
  }
  
  .filteroptionLast {
    font-size:large;
    margin-left: 2%;
    width: 90%;
  }

  .button {
    font-size: 20px;
    height: 55px;
    margin-top: 15px;
    width: 40%;
  }
}

/* Para mobile */
@media only screen and (max-width: 420px)
{
  .filters {
    height: 65%;
    margin-left: 3px;
    position:absolute;
    width: 40%;
  }

  .cards {
    margin-left: 180px;
    margin-right: 10px;
    margin-top: 20px;
  }

  .imgHi {
    height: 100px;
    width: 100%;
  }

  .search {
    font-size:large;
    margin-left: 3%;
    width: 85%;
  }
  
  .filteroption {
    font-size:large;
    margin-left: 3%;;
    width: 95%;
  }
  
  .filteroptionLast {
    font-size:large;
    margin-left: 3%;;
    width: 85%;
  }

  .button {
    font-size: 15px;
    height: 40px;
    margin-top: 15px;
    width: 50%;
  }

  .buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .titleFilter {
    font-size: 20px;
  }
}

  @media only screen and (max-width: 300px)
  {
    .filters {
      height: 65%;
      position:absolute;
      width: 45%;
    }

    .cards {
      margin-left: 140px;
      margin-right: 10px;
      margin-top: 20px;
    }
  
    .imgHi {
      height: 100px;
      width: 100%;
    }

    .titleFilter {
      font-size: 15px;
    }

    .search {
      margin-left: 3%;
      width: 80%;
    }
    
    .filteroption {
      margin-left: 3%;
      width: 93%;
    }
    
    .filteroptionLast {
      margin-left: 3%;
      width: 80%;
    }
    
    .button {
      font-size: 15px;
      height: 40px;
      margin-top: 15px;
      width: 50%;
    }
  
    .buttons {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
