.footerInteiro {
  width: 100%;
}

.Acima {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer {
  margin-top: 2%;
}

.footerLine {
  margin-top: 1px;
  width: 100%;
}

.pFooter {
  background-image: linear-gradient(to right, rgb(136, 82, 223), rgb(210, 160, 233) );
  background-clip: text;
  font-style: oblique;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: x-small;
  margin-left: 91%;
}

.back {
  background-image: linear-gradient(to right, rgb(136, 82, 223), rgb(210, 160, 233) );
  background-clip: text;
  font-style: oblique;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.LogoFooter {
  height: 40%;
  width: 10%;
}

.rede {
  align-items: flex-end;
  margin-right: 10px;
  margin-top: 75px;
  width: 25px
}

.imageFooter {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

/* Para desktops / telas grandes */
@media only screen and (min-width: 1025px)
{
  .LogoFooter {
    height: 25%;
    width: 15%;
  }

  .rede {
    width: 35px
  }

  .pFooter {
    font-size: 17px;
    margin-left: 83%;
  }
}

/* Para telas pequena / laptops */
@media only screen and (max-width: 1024px)
{
  .LogoFooter {
    height: 25%;
    width: 15%;
  }

  .rede {
    width: 35px
  }

  .pFooter {
    font-size: 15px;
    margin-left: 83%;
  }
}

/* Para Tablet */
@media only screen and (max-width: 768px)
{
  .LogoFooter {
    height: 35%;
    width: 20%;
  }

  .rede {
    width: 35px
  }

  .pFooter {
    font-size: 17px;
    margin-left: 73%;
  }
}

/* Para mobile */
@media only screen and (max-width: 600px)
{
  .LogoFooter {
    height: 55%;
    margin-top: 50px;
    width: 25%;
  }

  .pFooter {
    font-size: 12px;
    margin-left: 60%;
  }
  
  .footerLine {
    margin-top: 1px;
    width: 100%;
  }
}


@media only screen and (max-width: 300px)
{
  .LogoFooter {
    height: 40%;
    margin-top: 50px;
    width: 25%;
  }

  .rede {
    width: 20px
  }

  .pFooter {
    font-size: 10px;
  }
}