.Card {
  background-image: linear-gradient(to bottom, rgb(200, 168, 252), rgb(238, 221, 247) );
  border: solid 1px black;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 6px;
  overflow:auto; 
  width: 25%;
}

.CardPersonagem {
  background-image: linear-gradient(to bottom, rgb(200, 168, 252), rgb(238, 221, 247) );
  border: solid 1px black;
  border-radius: 10px;
  height: 185px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 6px;
  width: 30%;
}

.name {
  font-size: 25px;
}

.filmIMG {
  height: 30%;
  padding: 6px;
  width: 95%;
}

.CardLocation {
  background-image: linear-gradient(to bottom, rgb(200, 168, 252), rgb(238, 221, 247) );
  border: solid 1px black;
  border-radius: 10px;
  height: 175px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 6px;
  width: 30%;
}

.nameLocation {
  font-size: 25px;
}

/* Para desktops / telas grandes */
@media only screen and (min-width: 1025px)
{
  .Card {
    font-size: 25px;
    height: 600px;
    padding: 6px;
    overflow:auto; 
    width: 25%;
  }

  .CardPersonagem {
    background-image: linear-gradient(to bottom, rgb(200, 168, 252), rgb(238, 221, 247) );
    border: solid 1px black;
    border-radius: 10px;
    height: 185px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 6px;
    width: 30%;
  }
  
  .name {
    font-size: 25px;
  }

  .filmIMG {
    height: 350px;
    padding: 6px;
    width: 95%;
  }
}

/* Para desktops / telas grandes */
@media only screen and (min-width: 1025px)
{
  .Card {
    font-size: 25px;
    width: 45%;
  }
  
  .title {
    font-size: 35px;
  }

  .filmIMG {
    height: 60%;
    padding: 9px;
  }
}

/* Para telas pequena / laptops */
@media only screen and (max-width: 1024px)
{
  .Card {
    font-size: 20px;
    height: 500px;
    padding: 6px;
    overflow:auto; 
    width: 45%;
  }

  .CardPersonagem {
    height: 220px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 6px;
    width: 30%;
  }
  
  .name {
    font-size: 20px;
  }
  
  .title {
    font-size: 35px;
  }

  .filmIMG {
    height: 60%;
    padding: 6px;
    width: 95%;
  }

  .CardLocation {
    font-size: 18px;
    height: 200px;
    width: 30%;
  }

  .nameLocation {
    font-size: 20px;
  }
}

/* Para Tablet */
@media only screen and (max-width: 768px)
{
  .Card {
    font-size: 25px;
    height: 500px;
    padding: 6px;
    overflow:auto; 
    width: 100%;
  }

  .CardPersonagem {
    height: 200px;
    width: 40%;
  }
  
  .name {
    font-size: 20px;
  }
  
  .title {
    font-size: 40px;
  }

  .filmIMG {
    height: 70%;
    padding: 9px;
    width: 95%;
  }

  .CardLocation {
    height: 130px;
    width: 40%;
  }

  .nameLocation {
    font-size: 20px;
  }
}

/* Para mobile */
@media only screen and (max-width: 600px)
{
  .Card {
    font-size: 25px;
    height: 500px;
    padding: 6px;
    overflow:auto; 
    width: 100%;
  }

  .CardPersonagem {
    height: 220px;
    width: 49%;
  }
  
  .name {
    font-size: 20px;
  }
  
  .title {
    font-size: 35px;
  }

  .filmIMG {
    height: 40%;
    padding: 6px;
    width: 95%;
  }

  .CardLocation {
    height: 155px;
    width: 40%;
  }

  .nameLocation {
    font-size: 17px;
  }
}

@media only screen and (max-width: 420px)
  {
    .CardPersonagem {
      height: 180px;
      width: 90%;
    }

    .CardLocation {
      height: 130px;
      width: 95%;
    }

    .nameLocation {
      font-size: 17px;
    }
  }

  @media only screen and (max-width: 300px)
  {
    .CardPersonagem {
      height: 220px;
      width: 95%;
    }
    
    .name {
      font-size: 20px;
    }

    .CardLocation {
      height: 180px;
      width: 95%;
    }

    .nameLocation {
      font-size: 17px;
    }
  }

